<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            fileName="${tempdir}/LOGS/log_${shortdate}_${hour}.txt"
            archiveFileName="${tempdir}/LOGS/log_${shortdate}_${hour}.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"
            layout="${longdate} ${level} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>

<!--
NL Info -> Filesystem temp/LOGS dizinine yazilir.

_logger.LogTrace("Trace log message");
_logger.LogDebug("Debug log message");
_logger.LogInformation("Information log message");
_logger.LogWarning("Warning log message");
_logger.LogError("Error log message");
_logger.LogCritical("Critical log message");
-->